@media only screen and (max-width: 896px) {
    .contact-info-upper-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-info-container {
      margin: 1rem;
    }
  
    .contact-info-container p {
      font-size: medium;
    }
  
    .contact form .input-box input,
    .contact form textarea {
      padding: 1rem;
      font-size: 1.2rem;
    }
  
    .contact form .btn {
      margin-top: 1.5rem;
    }
  }
  @media (max-width: 992px) {
    .details-container {
      flex: 0 0 calc(50% - 2rem); 
    }
    
    .color-container {
      width: calc(50% - 2rem); 
    }
  }
  
  @media (max-width: 576px) {
    .details-container {
      flex: 0 0 100%; 
    }
    
    .color-container {
      width: 100%; 
    }
  }